params {
    consensus_min_qual_score = 30
    consensus_threshold = 0.5
    consensus_min_depth = 10
    variant_min_mapQ = 20
    variant_freq_threshold = 0.01
}

profiles {
    test {
        params{
            reference_fasta = './data/sars_reference/MN908947.fasta'
            reference_gff = './data/sars_reference/WH1_ORFs.gff'
            primer_bed = './data/primers/SARS-CoV-2_V4.1_primers_alt_overlap_sites.bed'
            primer_fasta = './data/primers/SARS-CoV-2.primer.fa'
            primer_pairs = './data/primers/SARS-CoV-2.primer_pairs.tsv'
            sample_sheet = './testSampleSheet.csv'
            output_dir = "./test-out"

        }
        docker{
            enabled = true
        }
        process{
            container = 'quay.io/mccronelab/snper:latest'
        }

        
    }

    rhino {
        process.executor = 'slurm'
        process.scratch = true
        report.overwrite = true
        apptainer.enabled = true
        process.container = 'quay.io/mccronelab/snper:latest'
        executor.queueSize = 200
    }
}
